<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Loan Approval</title>
</head>

<body>
	<section>
		<div class='landpage'>
			<center>

				<h1><b>Smart Lender</b>
					<br>
					Applicant Credibility Prediction For Loan Approval
				</h1>

				<p class="text-center">Check Your Eligibility For Loan Approval</p>

				<a href="prediction.html" class="btn">
					<button type="button" class="btn btn-dark">Fill Your Details</button>

				</a>

			</center>
		</div>
		<center>
			<img src="../static/loan.png">
		</center>
	</section>

</body>

</html>